# MongoDB 설정
MONGODB_URL=mongodb://localhost:27017/
DATABASE_NAME=devine

# MySQL 설정
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=atlas
MYSQL_PORT=3306

# JWT 설정
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Google Maps API 설정
GEO_API_KEY=

# 이메일 설정 (네이버 SMTP)
SMTP_SERVER=smtp.naver.com
SMTP_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=
